.cabecalho{
    align-items: center;
    box-shadow:  1px 2px 5px 1px #000000;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 0rem 2rem;
}

.logo{
    height: 7rem;
}

.cabecalho h3{
    background-color: aliceblue;
    border-radius: 5px;
    padding: .5rem;
}