.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

.container img{
    height: 15rem;
}

.container p{
    font-size: 2rem;
    font-weight: bold;
}